.listWrapper {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: center;
  margin-top: 10px;
}

.card {
  margin-bottom: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.id, .userid, .title, .body, .edit {
  margin: 5px 0px 5px 5px
}

.edit {
  margin-left: 95%;
  cursor: pointer;
}